
body{
    background-color: grey;
    font: 20px Arial, sans-serif;
    padding: 25px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url("space-stars-no-copyright.jpg");
}

li {
   float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  bottom: 0px;
}

li a:hover {
  background-color: grey;
}
.colonnasinistra {
    float: left;
    width: 80%;
    background: white;
    padding: 20px;
}
.titolo {
    font-size: 120px;
    text-align: center;
    display: block;
    background-image: url("starry-milky-way-galaxy.jpg");
    background: white;
    padding: 20px
    
}
.h4 {
    text-align: right;
    font-size: 20;
}
