body
{
    background-color: white;
    font: 20px Arial, sans-serif;
;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  border-right: 1px solid #bbb;
  background-image: url("space-stars-no-copyright.jpg");
}
