body
{
    background-color: white;
    font: 20px Arial, sans-serif;
    background-image: space-stars-no-copyright.jpg;
;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}
