body
{
    background-color: white;
    font: 20px Arial, sans-serif;
    background-image: space-stars-no-copyright.jpg;
;
}
body
{
    background-color: white;
    font: 20px Arial, sans-serif;
;
}
#al {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url("space-stars-no-copyright.jpg");
}

#al {
   float: left;
}

#al a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  bottom: 10px;
}

#al a:hover {
  background-color: #111;
}

#bl{
  height: 300%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

#p {
    margin-left: 40px;
    
    
}

#bl a{
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
