body
{
    background-color: white;
    font: 20px Arial, sans-serif;
    background-image: space-stars-no-copyright.jpg;
;
}
body
{
    background-color: white;
    font: 20px Arial, sans-serif;
;
}
#al {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url("space-stars-no-copyright.jpg");
}

#al {
   float: left;
}

#al a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#al a:hover {
  background-color: #111;
}
#bruh{
  list-style-type: none;
  margin: 4;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 10%;
  overflow: auto;
}


 #bruh a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

p {
  margin: 50;
}
