body
{
    background-color: white;
    font: 20px Arial, sans-serif;
    background-image: space-stars-no-copyright.jpg;
;
}
body
{
    background-color: white;
    font: 20px Arial, sans-serif;
;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  background-image: url("space-stars-no-copyright.jpg");
}

li {
   float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  bottom: 10px;
}

li a:hover {
  background-color: #111;
}

.bl{
     height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}

.contenuto {
    margin-right: -200px;
    padding-right: -20px;
    
}

.bl a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
